footer {
  z-index: -2;
  margin-top: -2em;
  min-height: 35vh;
  background-color: #6d56c1;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative;
  color: #fff;
}